@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*Navigation Bar Styling*/
/*Navigation Bar Styling*/
/*Navigation Bar Styling*/

.navbar{
    position: fixed;
    width: 100%;
    padding: 40px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: #6BAA75;
}

.navbar .logo a{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 600;

}


.navbar .menu li a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar.sticky .menu li a:hover{
    color: #2F2D2E;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li a:hover{
    color: #F2A541;
}
/*Menu Button Styling*/
.menu-btn{
    color:#FFFFFF;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/*Home Section Styling*/
/*Home Section Styling*/
/*Home Section Styling*/


.home{
    display: flex;
    background: #2F2D2E;
    height: 100vh;
    color: #FFFFFF;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 35px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

/*Responsive Media*/
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .max-width{
        padding: 0 50px;
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        background: #111;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;    
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }


}


/*About Section Styling*/
/*About Section Styling*/
/*About Section Styling*/
section{
    padding: 100px 0
}

.about{
    font-family: 'Roboto Condensed', sans-serif;
}

.about .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;

}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right p{
    font-size: 20px;
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background-color: #6BAA75;
    color: #FFFFFF;
    font-size: 30px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #6BAA75;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #6BAA75;
    background: none;

}


.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

/*CV Section Styling*/
/*CV Section Styling*/
/*CV Section Styling*/

/*Projects Section Styling*/
/*Projects Section Styling*/
/*Projects Section Styling*/

/*Skills Section Styling*/
/*Skills Section Styling*/
/*Skills Section Styling*/

/*Contact Section Styling*/
/*Contact Section Styling*/
/*Contact Section Styling*/